%h1 A New Genre
%h5 (How exciting!)

= form_for @genre do |f|
  %p #{f.label :name, "Genre Name: "}#{ f.text_field :name }
  %p #{f.check_box :readable} #{ f.label :readable, "Can this book be read? Ex. Reference books aren't ever really read."}
  %p #{f.submit}  