-@book.readings.each do |r|
  .reading
    %p Rating: #{r.rating}
    -if r.comments
      %p Comments: #{r.comments}
  
    %p Date Started: #{r.date_started} | Date Finished: #{r.date_finished} | Last Modified: #{r.last_modified}