%h1 Reading for:
%h2= link_to @book.title, book_path(@book)
%h3= link_to @book.authorships.first.author.fullname, author_path(@book.authorships.first.author)

%p Rating: #{@reading.rating}

%p Comments: #{@reading.comments}

%p Date Started: #{@reading.date_started} | Date Finished: #{ @reading.date_finished } | Last Modified: #{ @reading.updated_on }

%p #{ link_to 'Edit', edit_book_reading_path}