<p>
  <b>Book:</b>
  <%=h @reading.book_id %>
</p>

<p>
  <b>Rating:</b>
  <%=h @reading.rating %>
</p>

<p>
  <b>Comments:</b>
  <%=h @reading.comments %>
</p>

<p>
  <b>Date started:</b>
  <%=h @reading.date_started %>
</p>

<p>
  <b>Date finished:</b>
  <%=h @reading.date_finished %>
</p>

<p>
  <b>Last modified:</b>
  <%=h @reading.last_modified %>
</p>


<%= link_to 'Edit', edit_reading_path(@reading) %> |
<%= link_to 'Back', readings_path %>