%h1 
  Editing #{@authorship.author.name}'s role on 
  %em #{@authorship.book.title}

- form_for(@authorship) do |f|
  #{f.error_messages}
  %p #{f.check_box :translator } Translator
  %p #{f.check_box :editor} Editor
  %p #{f.submit :class => 'btn btn-large primary' }

#{link_to 'Show', @authorship} | #{link_to 'Back', authorships_path }