= form_for(@author, :remote => true) do |f|
  %p #{f.label :author_first} #{f.text_field :author_first}
  %p #{f.label :author_last} #{f.text_field :author_last}
  %p.smaller Include all details here exactly as they should be presented later. 
  %p #{f.submit 'Create'}