%h1 Editing author
=@author.errors
- form_for(@author) do |f|
  %p #{f.label :author_first} #{f.text_field :author_first}
  %p #{f.label :author_last} #{f.text_field :author_last}
  %p.smaller Include all details here exactly as they should be presented later. 
  %p #{f.submit 'Update'}
  
%p #{link_to 'Show', @author } | #{link_to 'Back', authors_path}
