- form_for(@book) do |f|
  - f.error_messages
  -for author in @book.authors
    -fields_for :author do |a|
      %p
        = a.label :author_first
        = a.text_field :author_first
      %p
        = a.label :author_last
        = a.text_field :author_last
  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.label :publisher
    = f.text_field :publisher
  %p
    = f.label :ISBN
    = f.text_field :ISBN
  %p
    = f.label :pages
    = f.text_field :pages
  %p
    =f.label :language
    =f.select(:language_id, Language.all.collect {|l| [l.Language, l.id]})
  %p
    =f.label :genre
    =f.select(:genre_id, Genre.all.collect{|g| [g.genre, g.id]})
  %p
    =f.label :location, "Current Location: "
    =f.select(:location_id, Location.all.collect{|loc| [loc.location, loc.id]})
  %p
    =f.label :notes
    =f.text_area :notes
  %p
    =f.submit
  

