%h1 Welcome to the Bibliophile library catalog.

-if @results
	%h2 Search Results by Title
	%ul
		-@results.each do |b|
			%li
				=link_to b.title, b

%p here's a quick glimpse of what's being reported as currently being read right now.

-@books.each do |book|
	.item
		%h3.title=link_to book.title, book
		-book.authorships.each do |a|
			%p= link_to a.author.fullname, author_path(a.author)
		.links
			%span= link_to 'Show', book
			%span= link_to 'Edit', edit_book_path(book)

%a= link_to 'New book', new_book_path
#unread_prompt
	-if @unread > 0
		%p #{@unread} books are reported #{ link_to 'unread', unread_path }.


#administrivia
	-if @prolific_publishers
		#prolific_publishers
			%h3 Most Represented Publishers
			%table
				%tr
					%th Publisher
					%th Books
				- @prolific_publishers.each do |pub|
					%tr
						%td #{pub.publisher}
						%td #{pub.total} 
	
	-if @last_read
		#last_read
			%h3 Latest Read Books:
			-@last_read.each do |read|
				%h5=link_to read.title, read
				%p.small Completed #{read.date_finished.strftime('%B %-d, %Y')}
	
	-if @prolific_authors
		#prolific_authors
			%h3 Most Represented Authors:
			-@prolific_authors.each do |author|
				%h5=link_to author.name, author
				%p.small Number of Titles: #{author.total}
#charts
	-if @lchart
		%h3 Books By Original Language:
		#lchart
			