%h2= @book.title
- @book.authorships.each do |a|
  -if a.is_translator?
    %h4= link_to a.author.fullname + ", translator", author_path(a.author)
  -elsif a.is_editor?
    %h4= link_to a.author.fullname + ", editor", author_path(a.author)
  -else
    %h3= link_to a.author.fullname, author_path(a.author)

%p
  Publisher: 
  %span=@book.publisher

%p
  ISBN: 
  %span=@book.ISBN

%p
  Pages
  %span=@book.pages

%p
  Language
  %span= @book.language

%a= link_to 'Edit', edit_book_path(@book)
%a= link_to 'Back', books_path