.page-header
  %h1 <i>#{@book.title}</i>
- @contributors = []
- @book.authorships.each do |a|
  -if a.translator?
    %h4= link_to a.author.name + ", translator", author_path(a.author)
  -elsif a.editor?
    %h4= link_to a.author.name + ", editor", author_path(a.author)
  -elsif a.contributor?
    -@contributors << a
  -else
    %h3
      #{link_to a.author.name, author_path(a.author)}
      %span.small #{link_to 'Edit this relationship', edit_authorship_path()}

- if @contributors.length > 0
  #contributors
    %h3 Contributors:
    -@contributors.each do |c|
      %h4= link_to c.author.name, author_path(c.author)

%p Publisher: #{@book.publisher}

%p Notes: #{markdown_parse(@book.notes)}
  
%p ISBN: #{@book.ISBN}

%p Pages: #{@book.pages}

%p Current Location: #{@book.location.Location}

%p Genre: #{ @book.genre.genre.downcase.gsub(/\b\w/){$&.upcase} }

%p Language: #{@book.language.Language}

%p Last Modified: #{@book.updated_at}

%p #{link_to 'Edit', edit_book_path(@book)} | #{link_to 'Back', books_path }

-if @book.readings
  = render 'readings/show'

%p #{ link_to 'Add a reading for this book', new_book_reading_path( @book )} | #{ link_to 'Show unread books', unread_path }
