%h2= @book.title
- @book.authorships.each do |a|
  -if a.translator?
    %h4= link_to a.author.fullname + ", translator", author_path(a.author)
  -elsif a.editor?
    %h4= link_to a.author.fullname + ", editor", author_path(a.author)
  -elsif a.contributor?
    %h4= link_to a.author.fullname + ", contributor", author_path(a.author)
  -else
    %h3= link_to a.author.fullname, author_path(a.author)

%p Publisher: #{@book.publisher}

%p Notes: #{@book.notes}
  
%p ISBN: #{@book.ISBN}

%p Pages: #{@book.pages}

%p Current Location: #{@book.location.Location}

%p Language: #{@book.language.Language}

%p Last Modified: #{@book.last_modified}

-if @book.readings
  = render 'readings/show'

%p 
  = link_to 'Edit', edit_book_path(@book)
  | 
  = link_to 'Back', books_path

%p= link_to 'Back to Main Index', books_path