%h1 New Location

= form_for @location do |f|
  %p #{f.label :name, "Location Name: "}#{ f.text_field :name }
  %p #{f.check_box :readable} #{ f.label :readable, "If a book is in this location, can it still be read (if it hasn't)? For example, if it was returned to the library? Sold?"}
  %p.clearfix #{f.submit}
