.page-header
  %h1 #{ @location.name}

  -if @location.readable?
    %p This book is in a readable location

  %h3 Books in this location:
  %table
    -@location.books.each do |book|
      %tr
        %td #{book.title}
        %td= link_to 'Show', book
        %td= link_to 'Edit', edit_book_path(book)

%p #{ link_to 'Edit', edit_location_path(@location) } | #{ link_to 'Back', locations_path }
