<!DOCTYPE html>
<html>
<head>
  <title>Bibliophile: <%= @page_title || "Untitled" %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, "jquery.tokeninput", "jquery-ui"  %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <%= link_to "Bibliophile", books_path, :class=>"brand" %>
        <ul class="nav">
          <li><%= link_to "Home", books_path %></li>
          <li><%= link_to "About", "/pages/about" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
<%= yield %>
    </div>
  </div>

</body>
</html>
